**/*.tfstate

__pycache__/
*/__pycache__/
__pycache__/ ignores any fold

.idea/


api/__pycache__/
core/__pycache__/
core/settings/__pycache__/
apps/authentific/__pycache__/
apps/users/__pycache__/
tests/users/__pycache__/
tests/authentific/__pycache__/
enums/__pycache__/
apps/entry_password/__pycache__/
apps/votes/__pycache__/


venv/

.venv/

.tox/

.env

.coverage
